@font-face {
  font-family:"PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/PTSans-Bold.woff2) format(.woff2);
}

.page-body{
font-family: "PT Sans", sans-serif;
font-size: 20px;
}
.page- header{
font-size: larger;
font-weight: 700;
}
.navbar{
  font-size: large;
  font-weight: 400;
}
.navbar-list{
  font-size: medium;
  font-weight: 350;
}
.navbar_link{
  font-size: medium;
  font-weight: 350;
}
.navbar-item{
  font-size: medium;
  font-weight: 350;
}
